<!-- All footer edits are done here and automatically transfered to the other index.html pages -->
<footer class="footer">
    <div class="footer__wrapper wrapper--large">
        <p class="footer__copyright no-margin">&copy; 2018 VTrucks<br>Call Now: (281) 745-1566</p>
        <a class="logo logo__footer" href="#0"></a>
        <p class="footer__credit no-margin">Website designed by:<br><a class="transform-link" href="mailto:emmanuelvalenciar@gmail.com" target="_blank" title="Click to Contact">Emmanuel Valencia</a></p>
        <!--OPTIONAL: Phone number
        <a id="phone_number" class="footer__number" title="Call Now" alt="Phone Number">Call Now: (281) 745-1566</a>-->
    </div>
</footer>